<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Rutina</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let ejercicio of ejercicios; let i = index">
      <ion-label>{{ ejercicio }}</ion-label>
      <ion-input 
        *ngIf="indiceEjercicio === i" 
        [(ngModel)]="ejercicioModificado" 
        placeholder="Modificar ejercicio" 
        (ionFocus)="iniciarModificacion(i)">
      </ion-input>
      <ion-button *ngIf="indiceEjercicio !== i" (click)="iniciarModificacion(i)">Editar</ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="guardarRutina()">Guardar</ion-button>
</ion-content>